---
import '@fontsource-variable/oswald'
import '@styles/global.css'
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>BlaBlind</title>
  </head>
  <body class="flex flex-col">
    <slot />
    <a href="https://jota.one" target="_blank" rel="noopener" class="fixed bottom-4 right-4 opacity-30 hover:opacity-60 transition-opacity">
      <svg width="123" height="42" viewBox="0 0 123 42" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M85.262 29.722Q86.457 31 88.707 31t3.444-1.278 1.195-3.61V15.888q0-2.334-1.195-3.611Q90.957 11 88.707 11t-3.445 1.278-1.194 3.61v10.223q0 2.334 1.194 3.611m5.028-3.416q0 1.916-1.583 1.916-1.584 0-1.584-1.916V15.694q0-1.916 1.584-1.916 1.583 0 1.583 1.916z"/><path d="M75.492 30.833h1.417q2.25 0 3.333-1.166 1.11-1.167 1.111-3.556V15.555l-3.055 3.056v7.583q0 .945-.445 1.417-.444.444-1.361.445h-1zm5.861-19.555v1.454l-3.055 3.055v-4.51zm12.767 2.778h3.194v16.666h3.056V14.056h3.194v-2.778H94.12z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M109.906 11.278h-4.138l-3.167 19.444h2.833l.556-3.805h3.472v-.056l.556 3.861h3.055zm-2.166 3.389 1.361 9.61h-2.75l1.333-9.61zm-55.845 10.57 1.357-11.047h-1.305l-.517 4.185a2.2 2.2 0 0 0-.788-.623 2.3 2.3 0 0 0-1.02-.225q-.524 0-1.005.203-.472.203-.884.555a4.4 4.4 0 0 0-.75.84q-.33.48-.57 1.042a6.6 6.6 0 0 0-.36 1.178q-.128.615-.128 1.23 0 1.35.54 2.062.54.705 1.515.705.413 0 .81-.15a3 3 0 0 0 .773-.442q.375-.285.712-.683a6 6 0 0 0 .623-.892l-.143 1.597q0 .195.09.33t.352.135zm-1.268-6.502q.405.157.69.562l-.247 1.973a7.3 7.3 0 0 1-.517 1.2 5.4 5.4 0 0 1-.638.952q-.337.398-.705.623t-.727.225q-.593 0-.915-.465-.316-.473-.316-1.365 0-.668.18-1.358t.51-1.245q.337-.562.81-.915.473-.352 1.066-.352.412 0 .81.165"/><path d="M34.974 17.79h-3.247l.09-.698q.06-.488.202-.825.15-.337.36-.547t.48-.3q.277-.098.6-.098.127 0 .232.008.113 0 .195-.008a.35.35 0 0 0 .143-.037.17.17 0 0 0 .067-.113l.128-.69q-.39-.15-.847-.15-.556 0-1.035.18-.474.18-.848.533-.367.345-.615.855-.24.502-.323 1.155l-.09.735h-1.094l-.068.525q-.015.15.068.232.09.075.24.098l.735.09-1.013 8.37h.525q.285 0 .442-.15a.86.86 0 0 0 .248-.413l.352-1.552.765-6.263h3.15l-.472 3.833a25 25 0 0 0-.12 1.132v.113q.015.757.435 1.155.42.397 1.148.397.472 0 .937-.18.473-.187.833-.51l-.278-.637q-.053-.128-.165-.128-.06 0-.135.06-.075.052-.187.12-.105.068-.255.128-.15.052-.346.052-.306 0-.487-.18-.172-.187-.172-.57v-.067q.008-.045.014-.158l.038-.3.06-.495.457-3.765h2.01l.105-.937h-1.994l.322-2.618h-.705a.3.3 0 0 0-.203.075.4.4 0 0 0-.112.18zm-20.089 6.795q.352-.285.742-.713l-.33-.405a.33.33 0 0 0-.255-.127q-.158 0-.322.15-.159.15-.39.33a3 3 0 0 1-.578.322q-.338.15-.84.15-.405 0-.713-.142-.3-.15-.51-.413a1.9 1.9 0 0 1-.315-.645 3.2 3.2 0 0 1-.104-.847q0-.765.194-1.433.204-.667.548-1.155.345-.487.803-.765.457-.285.975-.285.382 0 .622.098.247.09.412.21.165.113.263.21.105.09.21.09a.26.26 0 0 0 .143-.038.5.5 0 0 0 .12-.097l.42-.503a2.6 2.6 0 0 0-.893-.772q-.51-.27-1.267-.27-.848 0-1.568.39-.713.39-1.23 1.042a5 5 0 0 0-.81 1.5 5.5 5.5 0 0 0-.285 1.77q0 .69.173 1.268.18.57.517.982.345.405.847.63.51.225 1.17.225.435 0 .81-.067.382-.068.736-.233a3.8 3.8 0 0 0 .704-.457m4.412-5.933q-.345.465-.645 1.103l.128-1.673q0-.45-.458-.45h-.66l-.915 7.605h1.305l.42-3.517q.465-1.763 1.207-2.438.75-.675 1.726-.285l.24-1.282q-.42-.18-.825-.12a1.75 1.75 0 0 0-.788.322q-.383.263-.735.735"/><path fill-rule="evenodd" clip-rule="evenodd" d="M26.158 23.235q-.27.48-.585.87-.308.39-.66.667-.345.27-.735.42-.383.15-.795.15a1.9 1.9 0 0 1-.818-.172 1.8 1.8 0 0 1-.63-.518q-.255-.345-.397-.84a4.2 4.2 0 0 1-.143-1.147 5.2 5.2 0 0 1 .645-2.528q.315-.57.75-1.042.435-.48.968-.825.54-.352 1.155-.54.615-.195 1.29-.195.488 0 .945.082.465.075.915.27l-.908 7.35h-.69q-.263 0-.36-.135a.6.6 0 0 1-.09-.33zm.51-4.665a2 2 0 0 0-.33-.045 3 3 0 0 0-.315-.015q-.45 0-.87.15-.42.142-.788.405a3.5 3.5 0 0 0-.667.63q-.3.36-.518.795-.21.435-.33.93-.12.488-.12 1.005 0 1.807 1.155 1.807.367 0 .72-.225a2.8 2.8 0 0 0 .668-.637q.322-.413.592-.968.27-.562.48-1.23zm18.087 5.265a7 7 0 0 1-.75.682q-.367.277-.75.465-.375.188-.795.27-.413.09-.893.09-.653 0-1.17-.217a2.44 2.44 0 0 1-.877-.615 2.8 2.8 0 0 1-.555-.975 3.9 3.9 0 0 1-.195-1.275q0-.585.12-1.163.128-.585.36-1.11.24-.525.577-.975.345-.45.78-.772.443-.33.968-.518a3.4 3.4 0 0 1 1.14-.187q.577 0 .997.165t.69.42.398.562q.135.307.135.585 0 .495-.203.915-.202.412-.742.75-.54.33-1.485.578t-2.43.397q0 .082-.008.165v.158q0 1.005.435 1.537.443.525 1.328.525.36 0 .637-.075.285-.075.503-.18.225-.113.39-.24l.307-.24q.143-.112.263-.187a.45.45 0 0 1 .24-.075q.142 0 .255.127zm-2.115-5.34q-.473 0-.87.195-.398.195-.705.54-.307.337-.525.802a4.7 4.7 0 0 0-.338.99q1.155-.142 1.853-.322.697-.188 1.072-.398.375-.218.495-.465t.12-.517q0-.135-.06-.278a.7.7 0 0 0-.195-.27 1 1 0 0 0-.337-.195 1.4 1.4 0 0 0-.51-.082m16.758 1.072q.285-.465.607-.84.33-.375.69-.637.36-.27.75-.413.39-.15.795-.15.975 0 1.515.705t.54 2.063q0 .615-.127 1.23-.128.615-.368 1.177-.233.555-.57 1.043-.33.48-.742.84a3.3 3.3 0 0 1-.885.555 2.6 2.6 0 0 1-1.005.202q-.608 0-1.095-.255a2.2 2.2 0 0 1-.81-.727l-.105.487a.8.8 0 0 1-.15.293q-.09.097-.323.097h-.705l1.335-11.047h1.305zm-.488 4.005q.285.397.683.57.405.165.81.165.39 0 .735-.165t.63-.442q.285-.285.502-.66a5 5 0 0 0 .383-.81q.157-.435.232-.893.083-.465.083-.915 0-.892-.323-1.357-.315-.465-.9-.465-.36 0-.727.225a3 3 0 0 0-.713.63q-.345.397-.645.952a8 8 0 0 0-.51 1.2z"/><path d="m67.027 27.502 5.13-9.862h-1.058a.4.4 0 0 0-.225.075.46.46 0 0 0-.165.187l-2.4 4.793q-.075.157-.142.322l-.135.315a7 7 0 0 0-.038-.315 4 4 0 0 0-.06-.315l-1.222-4.785a.5.5 0 0 0-.113-.195q-.075-.082-.24-.082h-1.102l1.972 7.147-1.65 3.023h.983q.165 0 .27-.075a.6.6 0 0 0 .195-.233"/></svg>
    </a>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
